* {
    box-sizing: border-box;
}
body{
    margin: 0;
}
.row:after{
    content: "";
    display: table;
    clear: both;

}
@media screen and (max-width: 600px){
    .column.side, .column.middle{
        width:100%;
    }
}
.header {
    background-image: url("newyorkpanorama.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: .2px;
    background-color: rgb(75, 69, 75);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin: 0px;
    border-radius: 15px 15px 0px 0px;
    
}

.header a{
    text-decoration: none;
    color: blue;

}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    color: darkblue;

}

.nav{
    overflow: hidden;
    background-color: rgb(19, 99, 190);
    display: list-item;
    list-style-type: none;
    text-align: center;
    align-content: center;
    justify-content: center;
    display: flex;
    border-radius: 0px 0px 15px 15px;
   
}

.nav a{
    display: inline-block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    align-content: center;
    border-radius: 7px;
    
}
.nav a:hover {
    background-color: blue;
    color:rgb(0, 0, 0);
    transition: all 0.4s;
    transform: scale(1.1);
    border-radius: 15px;
    color: white;
}
#sticky {
    z-index: -1;
    position: fixed;
    padding: 1em;
    width: 100%;
    background: #000;
    color: #fff;
}
.column{
    float:left;
    padding: 10px;
}
.column.side{
    width: 25%;
}
.column.middle{
    background-color:rebeccapurple;
    width: 50%;
   

       
}


body{
    background-image: url("greypatchboard.jpg");
    background-repeat: repeat;
    background-position: center, center;
    padding-bottom: 700px;
    background-color: rgb(75, 69, 75);
}
footer{
    background-color: white;
    width: 100%;
    padding: 20px;
}
.test{
    background-color: black;
border: 10px solid black;
width: 100%;
height: auto;

}

